#index{
    background-image: url("../img/bg1.jpg");
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color: #202020;
}

.row{
    padding:10px; 
    margin-right: 10px;
    width: auto;
}

.btn{
    background-color: rgb(255, 255, 255);
    border-color: #7A64FF;
    border-width: 3px;
    color:#7A64FF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 8px;
    font-size: 18px;
    width: 150px;
}

.btn:hover{
    background-color: rgba(255, 255, 255, 0.705);
    color:#7A64FF;
    width:160px;
    height: 50px;
    font-size:19px;
    transform: translateX(-5px);

}

.next{
    background-color: rgb(125, 103, 255);
    color: rgba(0, 0, 0, 0.801);
    border-color: rgba(0, 0, 0, 0.733);
}

.next:hover{
    color: rgba(0, 0, 0, 0.801);
}


.dropdown-menu{
    transform: translate3d(120px, 50px, 0px)!important;
    background-color: white;
}

.dropdown-header{
    background-color: white;
    font-size: 20px;
    color: black;
    font-weight: bold;

}

.dropdown-item{
    background-color: white;
    width: 220px;
    font-size: 15px;
    display:flex;
}

.dropdown-toggle{
    width: 220px;
}

.dropdown-toggle:hover{
    width: 230px;
    height: 50px;
    font-size:19px;
    transform: translateX(-5px);
}

.drop_flag{
    background-size: cover;
    display: inline-block;
    height: 20px;
    width: 30px;  
    border-radius: 20%;
    margin-right: 10px;
}

#sel_lang {
    text-align:center;
    display: grid;
    padding-left: 120px;

}

.header-title1{
    padding: 80px;
    text-align: center;
    color: white;
}

.header-title1 h1{
    text-shadow: 3px 3px #202020, 0px 0px 15px #7A64FF ;
    color: white;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.col-lg-1 img{
    border-radius: 5%;
    width: 80px;
    height: 50px;
}

.col-lg-1 p{
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-shadow: 2px 2px #202020;
}

.flags{
    margin-bottom: 40px;
}

.header-title2{
    padding: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    background-color: #7A64FF;
}

.header-title2 h1{
    text-shadow: 3px 3px #202020;
    color: white;
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}

.header-title2 p{
    color: white;
    font-size: 25px;
    font-weight: lighter;
    text-align: center;
}

/*-------------------------*/
a{
    cursor: pointer;
}

.carousel-inner img{
    width: 100%;
    opacity: 70%;
}


.dropdown-menu{
    background-color: rgb(240, 233, 233);
}

#footer-carousel .carousel-inner img{
    width: 100%;
    padding: 15px;
    margin-top: 70px;
}

i img {
    cursor: pointer;
    margin-top: 10px;
    margin-left: 40px;
}

h5, h6{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
}

.footer{
    margin-top: 10px;
    padding: 5px;
}

.form-gorup button{
    margin-left: 15px;
    margin-bottom: 10px;
}

footer form{
    padding: 0px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

h5{
    color: #f1f1f1;
    text-align: center;
}

footer p{
    color: #f1f1f1;
}

div .list-unstyled {
    color: #f1f1f1;
    margin-top: 10px;
    margin-left: 35px;
}



